@import "tailwindcss";
.input-control {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
.swiper-pagination-bullet-active {
  background-color: #e86ed0;
}
.nav-link {
  @apply text-black hover:text-[#e86ed0] transition-colors duration-200;
}
